<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a routerLink="home" class="nav-link px-2 text-body-secondary">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="travel" class="nav-link px-2 text-body-secondary">Travel Guide</a>
    </li>
    <li class="nav-item">
      <a routerLink="about"  class="nav-link px-2 text-body-secondary"
        >About Cultura Tour</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="help" class="nav-link px-2 text-body-secondary">Help</a>
    </li>
    <li class="nav-item">
      <a routerLink="contact" class="nav-link px-2 text-body-secondary"
        >Contact Info Of The Dev</a
      >
    </li>
  </ul>
  <p class="text-center text-body-secondary m-4">
    A project for my web app portfolio with <strong class="color-bronw">Angular</strong> and
    <strong class="color-bronw">ASP.NET Core</strong> with <strong class="color-bronw">C#</strong>. © 2023 Web Project,
    Inc. - <strong class="color-bronw">Roddy R. Tejeda Rosario.</strong>
  </p>
  <h2 class="text-center color-bronw">Contact me at: </h2>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="https://twitter.com/Roddy2125_" target="_blank" class="nav-link px-2 text-body-secondary">Twitter</a>
    </li>
    <li class="nav-item">
      <a href="mailto:roddy3889@gmail.com" target="_blank" class="nav-link px-2 text-body-secondary">Email</a>
    </li>
    <li class="nav-item">
      <a href="https://github.com/Roddy-21-25" target="_blank" class="nav-link px-2 text-body-secondary">Github</a>
    </li>
    <li class="nav-item">
      <a href="https://www.linkedin.com/in/roddy-2125-rafael/" target="_blank" class="nav-link px-2 text-body-secondary">Linkedin</a>
    </li>
  </ul>
</footer>
