<div class="container-fluid">
  <div class="row">
    <div class="contact-background">
      <app-navbar></app-navbar>
      <div class="container mb-4 mt-5">
        <div class="row">
          <div class="col-sm-6 d-flex justify-content-center text-center">
            <div class="box">
              <img class="img-profile" src="/assets/Photo/me.jpeg" alt="" />
              <h3 class="text-color mt-3">Roddy R. T. Rosario</h3>
              <hr>
              <h5 class="text-color">FullStack Developer</h5>
            </div>
          </div>
          <div class="col-sm-6 mt-3 text-center">
            <div class="box">
              <h3 class="mb-3 text-color">About me:</h3>
              <p class="text-color-green">✅<em> - Open to Work -</em>✅</p>
              <hr>
              <p>
                Full-stack developer with +2 years of programming experience
                since I was young, currently, I have been working with
                technologies such as
                <em
                  ><strong class="text-color"
                    >HTML, CSS, JavaScript, Angular, TypeScript, Bootstrap,
                    Angular, C#, ASP.NET CORE, SQL SERVER</strong
                  ></em
                >
                and on some occasions <em><strong class="text-color">Python</strong></em> .
                <br />
                <br />
                I am very constant, disciplined and passionate, which has always
                helped me reach the end of the projects I set out to do. Thanks
                to this, I have learned to pay attention to the needs to develop
                in the most efficient way possible.
                <br />
                <br />
                I would love to continue working with <strong class="text-color">Angular</strong> and
                <strong class="text-color">ASP.NET CORE</strong> with <strong class="text-color">C#</strong>, in projects that
                challenge me to continue exploring all possible possibilities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
