<div class="container">
  <div class="row mt-4 box">
    <div class="col-sm-4 d-flex justify-content-center">
      <img
        class="img-about"
        src="/assets/Mision/services_enlightenment_length_624x304Source_BritMuseum.jpg"
        alt=""
      />
    </div>
    <div class="col-sm-8 d-flex justify-content-center">
      <div class="details">
        <h2>Discover the World Through History and Culture</h2>
        <p>
          <br />
          Our mission is to facilitate enriching trips by connecting travelers
          with the history and culture of different countries and cities. We
          want to inspire historical curiosity, promote intercultural
          understanding and turn each trip into a meaningful experience that
          enriches the lives of our users. <br /><br />
          Our vision is to become the preferred destination for lovers of
          history and culture, offering journeys that transcend time and
          creating a world where world heritage is appreciated and respected.
        </p>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <h1 class="text-center title-priority mt-5">
      Hi 👋 Im Roddy R. Tejeda Rosario, the first thing, i will say is
      CulturaTour is a project for my Porfolio, so this is not a real web.
    </h1>
    <h4 class="m-3 text-center title-priority">
      Second, I used the Following api: - <br />
    </h4>
    <img class="about-img" src="/assets/About/api.jpg" alt="">
    <div>
      <ul class="list-api m-3 text-center box-list">
        <li>
          <a href="https://api-ninjas.com/api/historicalevents" target="_blank"
            >Historical Events API</a
          >
        </li>
        <li>
          <a href="https://api-ninjas.com/api/country" target="_blank"
            >Country API</a
          >
        </li>
        <li>
          <a href="https://serper.dev" target="_blank"
            >Google Search API - Serper</a
          >
        </li>
      </ul>
    </div>
    <p class="mt-3">
      Another important thing is that the Image, you can see on this web. i
      found on Google, so, if you are the owner of one of them, you can call me
      and i will remove it. <br /><br> can not use this app as youe project or
      for Commercial Use, before anything like this, call me on my email:
      <strong class="title-priority">Roddy3889@gmail.com</strong>
    </p>
    <hr>
  </div>
</div>
