<div class="container mb-4">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center color-bronw mb-5">Discover What Sets Us Apart</h1>
    </div>
  </div>

  <div class="row">
    <!-- #1 -->
    <div class="col-sm-4 d-flex justify-content-center">
      <img
        class="img-functions"
        src="/assets/FunctionsImages/Plan Trips Based on Historical Events.jpg"
      />
    </div>
    <div class="col-sm-8">
      <div class="m-4">
        <h2 class="color-bronw">Plan Trips Based on Historical Events</h2>
        <p>
          At CulturaTour, we offer you the
          <strong class="color-bronw">unique opportunity to explore the world</strong> through the
          lens of <strong class="color-bronw">history</strong>. With the
          <strong class="color-bronw">"Plan Trips Based on Historical Events"</strong> feature, you
          will immerse yourself in exciting narratives of the past while
          creating unforgettable travel experiences.
        </p>
        <p>
          Our <strong class="color-bronw">"Plan Trips Based on Historical Events"</strong> feature
          offers unforgettable travel experiences.
        </p>
      </div>
    </div>
    <div class="container">
      <hr class="mt-4" />
    </div>
  </div>

  <div class="row">
    <!-- #2 -->
    <div class="col-sm-8">
      <div class="m-4">
        <h2 class="color-bronw">
          Explore Festivities in Different Countries and Cities of the World
        </h2>
        <p>
          Select a destination or country of your choice, and
          <strong class="color-bronw"
            >we'll reveal a full calendar of festivities and special events
            taking place there.</strong
          >
          From the colorful New Year festivities in Asia to the exciting
          carnivals of Latin America,
          <strong class="color-bronw"
            >we give you access to a wide range of cultural
            celebrations.</strong
          >
        </p>
        <p>
          Choose your destination, and we'll unveil a calendar of
          <strong class="color-bronw">local festivities and events.</strong>
        </p>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center">
      <img
        class="img-functions"
        src="/assets/FunctionsImages/Explore Festivities in Different Countries and Cities of the World.jpg"
      />
    </div>
    <div class="container">
      <hr class="mt-4" />
    </div>
  </div>

  <div class="row">
    <!-- #3 -->
    <div class="col-sm-4 d-flex justify-content-center">
      <img
        class="img-functions"
        src="/assets/FunctionsImages/Discover Information about the Country, Cities and Museums for Your Trip.jpg"
      />
    </div>
    <div class="col-sm-8">
      <div class="m-4">
        <h2 class="color-bronw">
          Discover Information about the Country, Cities and Museums for Your
          Trip
        </h2>
        <p>
          We provide you with all the tools you need to plan an enriching trip
          full of discoveries. Would you like to get to know the destination you
          are about to explore in depth? With our
          <strong class="color-bronw"
            >"Discover Information about the Country, Cities and
            Museums"</strong
          >
          feature, you will have access to a complete source of knowledge to
          inspire you and plan your adventure
        </p>
        <p>
          We equip you with the essential tools for
          <strong class="color-bronw">planning an enriching journey of discovery.</strong>
        </p>
      </div>
    </div>
  </div>
</div>
